.SelPageProductName{
    padding-top: 10px;
    @media screen and (max-width: $mediaScreenWidth) {
        padding-top: 10vh;
      }
}


// style fotek produktu
.fotocontener {
    // lewy kontener z fotkami - strona sprzedażowa produktu
  display: flex;
  flex-direction: column;
  max-width: 600px;

}
.minfoto {
    // kontener zbiorczy miniaturek
  display: flex;
  flex-basis: row;
  //    flex-wrap: wrap;
  justify-content: flex-start;
  @media screen and (max-width: $mediaScreenWidth) {
    justify-content: space-around;
  }
  &_img {
    //   box miniaturki
  }
}
.bigfoto {
    // kontener wyswietlanego zdjęcia w szer 600px
  width: 600px;
  height: auto;
  margin: auto;
  @media screen and (max-width: $mediaScreenWidth) {
    width: 100vw;
    border: 0 auto;
  }
}
.mini-foto {
  width: 140px;
  height: auto;
  margin: 5px;
  @media screen and (max-width: $mediaScreenWidth) {
    width: 20vw;
    border: 0 auto;

  }
}

// stylowanie kontenera sprzedażowego produktu
.main_SelProduct {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;

  @media screen and (max-width: $mediaScreenWidth) {
    flex-direction: column;
  }
}
.buyPanel {
    // prawy panel obok kontenera foto- strona sprzedaży produktu.

  max-width: 400px;
padding:0 15px;

  @media screen and (max-width: $mediaScreenWidth) {
    flex-direction: column;
    padding:25px;
  }
}
// opis produktu na stronie sprzedaży
.productInfo{
padding: 20px;
@media screen and (max-width: $mediaScreenWidth) {
    padding:25px;
  }
&_paragraf{


}
}