// $bodyColor: #fdf2f6;
$bodyColor: #f3ecdb;
$black: #000;
$white: white;
$bodyTextColor: rgb(65, 65, 65);
$naviHover: #4a8839;
$menu: #fafffa;
$footer: #e5e4e2;
$menuColor: #fafffa;
$footerColor: #e5e4e2;
$foter_line-height-a: 2.1rem;
$footer_line-height-p: .5rem;
$mediaScreenWidth: 700px;
$footerFontSize: 0.9rem;
$fontWeightMainPageAbout: 400;
$lineColorInContactForm: #8eb88b;
// szerokosc div i zdjecia produktu na srtonie sprzedazowej
$szerProd: 200px;
$szerProdMobile: 95vw;
$rozdzialProd: #2c7b16;