@import "_normalize";
@import "_variables";


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: $black;
  background: $bodyColor;
}
h1{
  margin: 0;
}
.mainContener{
  max-width: 1200px;
  height: 100vh;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
background-color: $white;
}
